<html>	  
    <form action = "/" method = "post">
    <style>
        div {
          width: 300px;
          margin: auto;
          text-align: center;
        }
        /* Style the header */
        header {
        padding: 30px;
        text-align: center;
        font-size: 35px;
        }
        padded {
            padding: 100px;
        }
        </style>           
    <body>	
        
        <header>
            <h1>2048</h1>
            <p>High Score: {{high_score}}</p>
        </header>
        <div>    
            <button>
                <div class = "padded">
                    <h2>Play</h2>
                </div>                    
            </button>
        </div>

    </body>
</form> 
</html>